- name: Provision KubeVirt
  hosts: localhost
  gather_facts: false
  connection: local
  roles:
  - role: ansible.kubernetes-modules
    install_python_requirements: no
  - role: ansibleplaybookbundle.asb-modules

- import_playbook: "/etc/ansible/roles/kubevirt-ansible/playbooks/kubevirt.yml"
  vars:
    apb_action: provision
    version: "{{ version }}"
